<article>
    <h2><a href="{{ url }}">{{ title }} </a></h2>

    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-tag"></span>
            {{#each tags}}
                <a href="#">{{ this }}</a>
            {{/each}}
            by {{ author }}
        </div>
        <div class="group2 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-time"></span> {{ date }}
        </div>
    </div>

    <hr>
    {{{ content }}}
    <hr>
</article>
