<article>
    <h2><a href="{{ url }}">{{ title }} </a></h2>

    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-tag"></span>
            {{#each tags}}
                <a class="tag" href="/tags/{{ this }}.html">{{ this }}</a>
            {{/each}}
            by {{ author }}
        </div>
        <div class="group2 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-time"></span> {{ date }}
        </div>
    </div>

    {{#if main_image}}
    <div class="post-main-image">
        <img src="{{ main_image }}" alt="{{ title }}" class="img-responsive">
    </div>
    {{/if}}

    <hr>
    {{{ content }}}
    <hr>
</article>
